#where_we_go{
    background: #000000;
    .circle1{
        height: 30px;
        width: 30px;
        background: #fff;
        border-radius: 50%;
        border: 5px solid #f58020;
    }
    .circle2{
        height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    border: 5px solid #2a5982;
    }
    .circle3{
        height: 30px;
        width: 30px;
        background: #fff;
        border-radius: 50%;
        border: 5px solid #89c658;
    }
}